#container-controllers{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;

    display: inline-block;
    padding: 10px;
    color: black;

    position: fixed;

    margin: 10px 0px 0px 10px;

    z-index: 1;
}